@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title - Car Insurance</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@carinsurance.com">Support@carinsurance.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@carinsurance.com">Marketing@carinsurance.com</a>
</address>